@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200&family=Climate+Crisis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

:root{
  --background: rgb(227, 236, 245);
  --background: rgb(227, 236, 245);
  --background2: rgb(24, 66, 107);
  --border: var(--background);
  --text-color: var(--background);
  --text-price: inherit;
  --quantity-negative: salmon;
  --quantity-positive: green;
  --add-to-cart: rgb(214, 58, 41);
  --default-color: #fff;
  --product-column: 3;
  --single-product-column: 2;
  --extra_pics: 2;
  --homepage-column: 2;
  --cart-size: 1.4rem;
  --navigation-menu-size: 1.2rem;
  --product-title-size: clamp(18px,4vw,40px);
  --nav-header: 2;
  --footer-column: 4;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration:  none;
  list-style: none;
}
body {
  margin: 0;
  font-family: sans-serif;
  background: rgb(94, 145, 127);
  color: 000;
  padding: 20px;
  font-family: 'Changa', sans-serif;

}
.wrapper{
  width: min(100%,1100px);
  margin: 0 auto;
}
nav{
  display: flex;
  color: var(--text-color);
  margin-bottom: 2em;
  position: relative;
  z-index: 1;
}
.cart_count{
  margin-left: 10px;
  font-weight: bold;
  letter-spacing: .2em;
  font-size: var(--cart-size);
}
nav{
  display: flex;
  flex-wrap: wrap;
}
nav > *{
  flex: 0 0 calc(100% / var(--nav-header));
}
nav ul li{
  position: relative;
}
nav ul li:hover ul{
  display: block !important;
}
nav ul li ul{
  display: none !important;
  position: absolute;
  flex-flow: column;
  top: 100%;
  border: 6px solid #024;
  background: var(--background2);
  width: 400%;
  padding: 10px;
  transition: all .2s;
  overflow-y: scroll;
  max-height: 500px;
}
nav ul li ul::-webkit-scrollbar{
  display: none;
}
nav ul li ul li{
  width: 100%;
  padding: 20px 0;
  text-align: center;
  font-weight: bold;
  font-size: var(--navigation-menu-size);
  color: var(--default-color);
}
nav ul li ul li:hover{
  background: var(--default-color);
  color: #000
}
nav ul:nth-child(1){
  display: flex;
  align-items: center;
}
nav ul:nth-child(2){
  display: flex;
  justify-content: flex-end;
}

.homepage{
  margin-top: 5rem;
}
.homepage ul{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.homepage ul li{
  flex: 1 0 calc(100% / var(--homepage-column));
}

.search_icon{
  flex-basis: 80%;
  display: flex;
  align-items: flex-end;
}
.search_icon input{
  width: 100%;
  font-size: var(--navigation-menu-size);
  background: none;
  outline: none;
  border: none;
  border-bottom: 3px solid var(--border);
  text-align: right;
  color: var(--color);
}
.search_icon input::placeholder{
  color: var(--color);
}
.nav_icon{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 500px;
  margin-left: 10px;
  padding: 15px;
  transition: all .1s;
  cursor: pointer;
}
.nav_icon:not(.nav_icon:nth-child(2)){
  border: 3px solid var(--background); 
}
.nav_icon:hover i{
  color: #fff;
}
.nav_icon:hover{
  background: var(--background2);
}
.search_tag{
  flex-basis: 10%;
}
.grid_icon{
  flex-basis: 10%;
}
.shopping_cart{
  flex-basis: 10%;
  position: relative;
}
i{
  color: var(--background);
}
.loader{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)
}
.products{
  --gap: 6px;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  justify-content: center;
}
.product_info{
  margin-top: auto;
}
.product_extra_pics{
  --gap: 10px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  gap: var(--gap);
}
.product_extra_pics > *{
  flex: 1 0 calc( calc(100% / var(--extra_pics)) - var(--gap));
  object-fit: cover;
} 
.products li:not(.single_details){
  flex: 0 0 calc(calc(100% / var(--product-column)) - var(--gap));
  box-shadow: 1px 1px 5px rgba(0,0,0,.2),
              -1px -1px 5px rgba(255,255,255,.2);
  padding: 20px;
  background: rgba(172, 218, 151, 0.082);
  display: flex;
  flex-flow: column;
  color: #000;
}
.products li.single_details{
  flex: 1 0 calc(calc(100% / var(--single-product-column)) - var(--gap));
  box-shadow: 1px 1px 5px rgba(0,0,0,.1),
              -1px -1px 5px rgba(255,255,255,.1);
  padding: 20px;
  color: #000;
  background: rgba(172, 218, 151, 0.233);
}
.products li .title{
  font-family: 'Poppins', sans-serif;
  padding: 0 0 20px;
  color: var(--text-color);
  text-decoration: underline;
  color: var(--background2);
}
.price{
  color: var(--text-price);
  font-weight: bold;
}
button{
  width: 100%;
  padding: 15px;
  margin-top: 1em;
  background: none;
  border: none;
  outline: none;
  color: var(--default-color);
  background: var(--background2);
  color: #fff;
  font-family: 'Russo One', sans-serif;
  font-size: var(--navigation-menu-size);
  text-align: center;
  cursor: pointer;
  transition: all .2s;
}
button:not(.disabled):active{
  transform: scale(.9);
}
button i{
  color: #fff;
}
button.home_btn{
  background: var(--background);
  color: #000;
}
button.home_btn:hover{
  background: var(--background2);
  color: var(--default-color);
}
img:not(.single_details img){
  max-width: 100%;
  /* width: 100%; */
  height: 200px;
  margin-bottom: 1em;
}
.single_details img{
 max-height: 100%;
 max-width: 100%; 
}
h2:not(.price){
  text-decoration: underline;
  letter-spacing: .1em;
  color: var(--background);
  font-size: var(--product-title-size);
}


.cart__content{
  /* position: absolute; */
  width: min(100%,1100px);
  height: 400px;
  background: var(--background2);
  border: 5px solid #014;
  margin-bottom: 1em;
  transform: translateY(-1000px);
  padding: 20px;
  animation: animate .1s linear forwards;
  overflow-y: scroll;
}
.cart__content::-webkit-scrollbar{
  display: none;
}
.closed_cart{
  display: none;
}
.cart_items{
  color: #fff;
  margin-bottom: 2em;
  padding-left: 15px;
}
.cart_items:hover{
 border-left: 2px solid #fff;
}
.footer{
  --gap: 25px;
  background: #000;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  gap: var(--gap);
  margin-top: 2em;
  padding: 20px;
}
.footer li{
  flex: 0 0 calc(calc(100% / var(--footer-column)) - var(--gap));
}
.footer h1{
  color: #fff;
  text-decoration-line: underline;
  text-decoration-style: double;
}
.footer li p{
  font-size: clamp(18px,3vw,22px);
  color: rgb(238, 207, 207);
  word-break: break-all;
}
@keyframes animate{
  100%{
    transform: translateY(0);
  }
}

@media screen and (max-width: 850px){
  :root{
    --product-column: 2;
    --nav-header: 2;
    --homepage-column: 1;
    --footer-column: 2;
  }
}

@media screen and (max-width: 500px){
  :root{
    --product-column: 1;
    --extra_pics: 1;
    --nav-header: 1;
    --footer-column: 1;
  }
  nav ul:nth-child(2){
    display: flex;
    justify-content: flex-start;
    margin-top: 2em;
  }   
  nav ul li ul{
    left: 0px;
  }
}